/output
/out
/data
/configs/pointcloud/pretrained
/scripts
/src/encoder/unet.py
/create_dataset.py
/metrics.ods
/processed_data.pkl

/README.md
build
.vscode
.pytest_cache
.cache
*.pyc
*.pt
*.so
*.o
*.prof
.nfs*
/src/utils/libmcubes/mcubes.cpp
/src/utils/libsimplify/simplify_mesh.cpp
/src/utils/libsimplify/build
lsf.*processed_data.pkl
