# Evita di caricare file e cartelle temporanee, cache, modelli, build, output, ecc.

# PyCharm / IntelliJ
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*.so
*.o
*.out
*.log

# Ambiente virtuale
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Cache pytest
.pytest_cache/
.cache/

# File di dati e output pesanti
*.pkl
*.pt
*.npy
*.npz
*.h5
*.onnx
*.ckpt
*.prof
*.zip
*.tar
*.tar.gz

# File specifici del tuo progetto
processed_data.pkl
output/
data/
build/
logs/
metrics.ods

# Sistema operativo
.DS_Store
Thumbs.db

# File temporanei
*.swp
.nfs*

